body {
  background-color: rgb(209, 208, 208);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

main {
  margin-top: 65px;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
}

.navigation {
  margin-left: 5%;
  margin-right: 5%;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
